html,body {
  width:100vw;
  height: 100vh;
  margin: 0;
}
#videoBG {
  position:fixed;
  z-index: -1;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
      width:100%;
      height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG { 
      width:auto;
      height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
      display: none;
  }
  body {
      background: url('preview.jpg');
      background-size: cover;
  }
}


* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

#myVideo {
  position: absolute; 
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
}

.content {
  position: absolute;
  text-align: center;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  color: #f1f1f1;
  width: 100%;
  padding: 10px;
  
}

#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: rgb(255, 255, 255);
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}
.tlacitko{
    
    margin-bottom: 700px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: white !important;
    text-align: center;
  }
  
  .pill-nav a {
    display: inline-block;
    color: black;
    text-align: left;
    padding: 14px;
    text-decoration: none!important;
    font-size: 17px;
    border-radius: 5px;
  }
  
  .pill-nav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .pill-nav a.active {
    background-color: dodgerblue;
    color: white;
  }
   .zarovnani{
        align-content: left;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
 
  

